@model (string Name, string EmailAddress)
@{
    ViewData["Title"] = "User Pipiska";
}

<h2>@ViewData["Title"]</h2>
<h2>@ViewData["Message"]</h2>
<h2>@Model.Name</h2>
<h2>@Model.EmailAddress</h2>

Hello